.middle-activitycontentlist {
    margin-top: 120px;
}

#activityContent {
    margin-top: 80px;
    margin: 0px auto;
    padding: 0px;
    width: 100%;
    line-height: 2.7em;
    height: auto;
    font-size: 1.5em;
}

.wrap-content {
    margin-top: 20px;
    height: auto;
}

.content-img {
    margin: 0 auto;
    margin-bottom: 100px;
    width: 98%;
    height: 80%;
}

    .content-img img {
        display: block;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 98%;
        height: 50%;
    }

.btn {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    width: 550px;
    height: 65px;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    background-color: #3c9a35;
    border: none;
}

div#forget-password {
    padding-right: 10%;
    text-align: right;
    height: 65px;
}
